# templates_c Ordner enthaelt temporaere dateien
templates_c

# config.php muss jeweils manuell vor Ort angepasst werden
config.php

# custom fonts werden vor Ort angepasst
*.ttf
*.eot
*.svg
*.woff

# bilderupload
img_upload

#designs
designs/*
!designs/default